#!/usr/bin/env bash
set -euo pipefail

export source=~/worlds/'{{ minecraft_world }}'/little-a-map
export destination='{{ s3_sync_destination }}'

little-a-map \
  ~/worlds/'{{ minecraft_world }}'/'{{ minecraft_world }}' \
  "$source"

cd ~/src/s3-sync && ./node_modules/.bin/gulp
