{
  email {{ lets_encrypt.email }}
  auto_https disable_redirects
}


:80 {
  abort
}

# Adapted from https://github.com/mastodon/mastodon/pull/20645
{{ mastodon_configuration.web_domain }}, {{ mastodon_configuration.local_domain }} {
  log {
    output file /var/log/caddy/{{ mastodon_configuration.web_domain }}.log
  }
  encode zstd gzip
  root * /home/mastodon/live/public

  # Matchers
  @asset-immutable path /system/*
  @asset-mutable path /assets/* /avatars/* /emoji/* /headers/* /packs/* /shortcuts/* /sounds/* /sw.js
  @direct-home {
    path /
    not header Referer https://{{ mastodon_configuration.local_domain }}/*
  }
  @html-wrong-host {
    not host {{ mastodon_configuration.local_domain }}
    header Accept *text/html*
  }
  @profile-public {
    path /@andrew
    header !Cookie
  }

  # Headers
  header {
    -Server
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    defer
  }
  header @asset-immutable Cache-Control "public, max-age=2419200, immutable"
  header @asset-mutable Cache-Control "public, max-age=2419200, must-revalidate"
  header @profile-public {
    Cache-Control "public, max-age=3600, stale-while-revalidate=86400"
    defer
  }

  # Routing
  redir @direct-home {{ homepage }} 303
  redir @html-wrong-host https://{{ mastodon_configuration.local_domain }}{uri}
  route {
    error /api/v1/streaming/public "Not found" 404
    error /api/v1/streaming/public/local "Not found" 404
    reverse_proxy /api/v1/streaming* localhost:4000
    file_server {
      pass_thru
    }
    reverse_proxy localhost:3000
  }
  handle_errors {
    rewrite 500.html
    file_server
  }
}
