[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
ListenPort={{ wireguard.port }}
PrivateKey={{ wireguard_private_key }}

{% for name in wireguard_peers %}{% set peer = wireguard.peers[name] %}
[WireGuardPeer]
PublicKey={{ peer.public_key }}
AllowedIPs={{ peer.ip }}/32
{% endfor %}
